<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <div class="container">
        <a href="#" class="brand-logo blackText">QuickNotes</a>
        <ul id="nav-mobile" class="blackText right hide-on-med-and-down">
          <li><a class="blackText" href="">My Notes</a></li>
          <li><a class="blackText" href="/add-note">Add</a></li>
          <li><a id="logOut" class="blackText"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{{!-- <script>
  // Initialize Firebase for the application
  const config = {
    apiKey: "AIzaSyCWafVtkCJHdmELqLECnWx9bFVr1OrofAs",
    authDomain: "quickforms-31125.firebaseapp.com",
    databaseURL: "https://quickforms-31125.firebaseio.com",
    projectId: "quickforms-31125",
    storageBucket: "",
    messagingSenderId: "463191830446"
  };

  firebase.initializeApp(config);
  let logOut = document.getElementById("logOut");
  logOut.addEventListener("click", (e) => {
    e.preventDefault();
    firebase.auth().signOut()
  })
</script> --}}