<div class="container">
    <div class="row h100 valign-wrapper">
        <div class="col s6 offset-s3">

            <form id="register-form" class="col s12 white">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">person</i>
                        <input id="first-name" type="text" class="validate">
                        <label for="first-name">First Name</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">person</i>
                        <input id="last-name" type="text" class="validate">
                        <label for="last-name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input id="user-email" type="email" class="validate">
                        <label for="user-email">Email</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">verified_user</i>
                        <input id="company-name" type="text" class="validate">
                        <label for="company-name">Company Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">lock</i>
                        <input id="password-confirm" type="password" class="validate">
                        <label for="password-confirm">Confirm Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center-align">
                        <a class="waves-effect waves-light btn" id="registerDB"><i class="material-icons left">send</i>register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const config = {
            apiKey: "AIzaSyCWafVtkCJHdmELqLECnWx9bFVr1OrofAs",
            authDomain: "quickforms-31125.firebaseapp.com",
            databaseURL: "https://quickforms-31125.firebaseio.com",
            projectId: "quickforms-31125",
            storageBucket: "",
            messagingSenderId: "463191830446"
        };
        firebase.initializeApp(config);
        const database = firebase.database();

        let register = document.getElementById("registerDB");

        register.addEventListener("click", e => {
            let pass = document.getElementById("password").value;
            let passConfirm = document.getElementById("password-confirm").value;
            let emailRegister = document.getElementById("user-email").value;
            let company = document.getElementById("company-name").value.toLowerCase();
            let firstName = document.getElementById("first-name").value;
            let lastName = document.getElementById("last-name").value;
            let fullName = firstName + ' ' + lastName;

            let validate = pass && passConfirm && emailRegister && company && pass === passConfirm ? true : false;

            if (validate) {
                firebase.auth().createUserWithEmailAndPassword(emailRegister, passConfirm).then(() => {
                    let date = Date.now().toString();
                    let res = date.substring(0, 12);
                    let ref = company + res;
                    database.ref("Users").child(ref).push({
                        name: fullName,
                        company: company,
                        email: emailRegister,
                        password: passConfirm,
                        dateAdded: firebase.database.ServerValue.TIMESTAMP,
                        id: passConfirm + date
                    });
                }).catch((error) => {
                    // Handle Errors here.
                    const errorCode = error.code;
                    const errorMessage = error.message;

                    console.log(error);
                });
            }
        });
    });

</script>